{% extends "header.html" %}
{% block content %}

<div class="profile-container">
    <div class="profile-pic">
        <!-- User's Profile Picture -->
        <img class="propic" src="data:image/png;base64,{{image}}" alt="image">
    </div>
    <div class="col-md-8 profile-col">
        {% block profile %}
            <div class="profile">
                <h4>{{ user.name }}</h4>
                <p style="margin-bottom: 25px">@{{ user.username }}</p>
                
                {% if user.bio %}
                    <p style="margin-bottom: 25px">{{ user.bio }}</p>
                {% endif %}

                {% if user.location %}
                    <small>{{ user.location }}</small>
                {% endif %}

                <br><br>

                {% if user.birthday %}
                    <small>Since: {{ user.birthday.strftime('%B %-d, %Y') }}</small>
                {% endif %}
                
                {% if user.joined_date %}
                    
                {% endif %}
                
            </div>
        {% endblock %}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2> Edit Profile </h2><ul class="media-list">

            <!-- Update Username Form -->
            <li class="media post-item">
                <form method="POST" action="">
                    {{ update_username_form.csrf_token }}
                    <div class="form-group">
                        <label>{{ update_username_form.username.label }}</label>
                        {{ update_username_form.username(class="form-control") }}
                        
                        {% if update_username_form.username.errors %}
                        <div class="alert alert-warning mt-2" role="alert">
                            {% for error in update_username_form.username.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    {{ update_username_form.submit_username() }}
                </form>
            </li>
        
            <!-- Update Profile Form -->
            <li class="media post-item">
                <form method="POST" action="">
                    {{ update_profile_form.csrf_token }}
                    <div class="form-group">
                        <label>{{ update_profile_form.name.label }}</label>
                        {{ update_profile_form.name(class="form-control") }}
                        
                        {% if update_profile_form.name.errors %}
                        <div class="alert alert-warning mt-2" role="alert">
                            {% for error in update_profile_form.name.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
        
                        <div class="bio mt-3">
                            <label>{{ update_profile_form.bio.label }}</label>
                            {{ update_profile_form.bio(class="form-control form-control-bio") }}
                            
                            {% if update_profile_form.bio.errors %}
                            <div class="alert alert-warning mt-2" role="alert">
                                {% for error in update_profile_form.bio.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
        
                        <div class="location mt-3">
                            <label>{{ update_profile_form.location.label }}</label>
                            {{ update_profile_form.location(class="form-control") }}
                            
                            {% if update_profile_form.location.errors %}
                            <div class="alert alert-warning mt-2" role="alert">
                                {% for error in update_profile_form.location.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
        
                        <div class="birthday mt-3">
                            <label>{{ update_profile_form.birthday.label }}</label>
                            {{ update_profile_form.birthday(class="form-control") }}
                        </div>
                    </div>
                    {{ update_profile_form.submit_profile() }}
                </form>
            </li>
        
            <!-- Update Profile Picture Form -->
            <li class="media post-item">
                <form method="POST" action="" enctype="multipart/form-data">
                    {{ update_profile_picture_form.csrf_token }}
                    <div class="form-group">
                        <label>{{ update_profile_picture_form.picture.label }}</label>
                        {{ update_profile_picture_form.picture(class="form-control") }}
                        
                        {% if update_profile_picture_form.picture.errors %}
                        <div class="alert alert-warning mt-2" role="alert">
                            {% for error in update_profile_picture_form.picture.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    {{ update_profile_picture_form.submit_picture() }}
                </form>
            </li>
        
        </ul>
        
</div>

{% endblock %}