{% extends "header.html" %}
{% block content %}

<div class="row">
    <div class="col">
        <br><br>
        {% if current_user.is_authenticated %}
            {# Movie review submission form #}
            <div class="row">
            <div class="col">
                <form method="POST" action="">
                {{ post_form.csrf_token }}
                <div class="form-group">
                    {{ post_form.text(class="form-control") }}

                    {% if post_form.text.errors %}
                        <div class="alert alert-warning" role="alert">
                        {% for error in post_form.text.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                        </div>
                    {% endif %}

                </div>
                {{ post_form.submit() }}
                </form>
            </div>
            </div>
        {% endif %}
    </div>
</div>

{# Reviews #}
<div class="row">
    <div class="col-md-12">
      <h2> Timeline <small class="float-right">{{ user_posts|length }} posts</small></h2>
      <ul class="media-list">
        {% for review in user_posts %}
        <li class="media review-item">
          <img class="mr-3 comment-pic" src="data:image/png;base64,{{review.image}}" alt="pp">
          <div class="media-body">
            <span class="float-right">
              <small>{{ review.date }}</small>
            </span>
            <span style="font-weight: bold;">{{ review.commenter.name }}</span>
            <a href="{{ url_for('movies.user_detail', username=review.commenter.username) }}">
              <strong>@{{ review.commenter.username }}</strong>
            </a>
            <p>
              {{ review.content }}
            </p>

            <p>{{ review.likes|length }} Likes</p>

            <form method="POST" action="{{ url_for('movies.user_detail', username=review.commenter.username) }}">
                {{ like_post_form.hidden_tag() }}
                {{ like_post_form.review_id(value=review.id) }}
                {{ like_post_form.submit_like() }}
            </form>
            
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}