{% extends "header.html" %}
{% block content %}

{% if current_user.is_authenticated %}
	<div class="top">
		<div class="row">
			<div class="col">
				{# Movie review submission form #}
				<div class="row">
					<div class="col">
						<form method="POST" action="">
							{{ post_form.csrf_token }}
							<div class="form-group">
								{{ post_form.text(class="form-control") }}

								{% if post_form.text.errors %}
									<div class="alert alert-warning" role="alert">
									{% for error in post_form.text.errors %}
										<span>{{ error }}</span>
									{% endfor %}
									</div>
								{% endif %}

							</div>
							{{ post_form.submit() }}
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}

{# Reviews #}
<div class="Top">
	<div class="row">
		<div class="col-md-12">

			<h2> Moments <small class="float-right">{{ user_posts|length }} posts</small></h2>
			<ul class="media-list">

			</ul>

			{% for review in user_posts %}
				<li class="media review-item">
					<img class="mr-3 comment-pic" src="data:image/png;base64,{{review.image}}" alt="pp">
					<div class="media-body">
						<span class="float-right">
							<small>{{ review.date }}</small>
						</span>
						
						<span style="font-weight: bold; ">{{ review.commenter.name }}</span>

						<a href="{{ url_for('movies.user_detail', username=review.commenter.username) }}">
							<strong>@{{ review.commenter.username }}</strong>
						</a>    

						<p style="padding-top: 5px; ">
							{{ review.content }}
						</p>

						<span>{{ review.likes|length }} Likes</span>

						{% if current_user.is_authenticated %}
							<form action="{{ url_for('movies.index') }}" method="POST" class="d-inline">
								{{ like_post_form.csrf_token }}
								{{ like_post_form.review_id(value=review.id) }}
								<input type="submit" name="action" value="Like">
							</form>
						{% endif %}

						{% if current_user.is_authenticated and review.commenter.username == current_user.username %}
							<form action="{{ url_for('movies.index') }}" method="POST" class="d-inline">
								{{ delete_post_form.csrf_token }}
								{{ delete_post_form.review_id(value=review.id) }}
								<input type="submit" name="action" value="Delete">
							</form>
						{% endif %}
					</div>
				</li>
			{% endfor %}
		 </div>
	</div>
</div>

{% endblock %}