{% extends "header.html" %}
{% block content %}
{% if error_msg %}
    <p>{{ error_msg }}</p>
{% endif %}

<div class="container-fluid">
    {% for result in results %}
    <div class="media">

        <div class="media-body">
            <div class="row">
                <div class="col">
                    {# User's Profile Picture #}
                    <br><br>
                    <img class="propic" src="data:image/png;base64,{{result.profile_pic}}" alt="image" width="150" height="150">
                </div>
            </div>

            <div class="profile">
                <h3>{{ result.name }}</h3>
                <a href="{{ url_for('movies.user_detail', username=result.username) }}">
                    <strong>@{{ result.username }}</strong>
                  </a>
                {% if result.bio %}
                    <p>{{ result.bio }}</p>
                {% endif %}
                
                {% if result.location %}
                    <p>{{ result.location }}</p>
                {% endif %}
            </div>
            <br><br>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}