{% extends "header.html" %}
{% block content %}

<div class="top">
<div class="profile-container">
    <div class="profile-pic">
        <!-- User's Profile Picture -->
        <img class="propic" src="data:image/png;base64,{{image}}" alt="image">
    </div>
    <div class="col-md-8 profile-col">
        {% block profile %}
            <div class="profile">
                <div class="d-flex align-items-center">
                    <!-- User name -->
                    <h4 style="margin-right: 10px;">{{ user.name }}</h4> 
                    
                    <!-- Follow/Unfollow Button -->
                    <!-- Follow/Unfollow Button -->
                    {% if current_user.is_authenticated and current_user != user %}
                    <div>
                        {% if current_user.is_following(user) %}
                            <form action="{{ url_for('users.unfollow', username=user.username) }}" method="POST" class="d-inline">
                                <button type="submit" class="btn btn-secondary btn-sm" style="width: 70px; height: auto; font-size: 12px; border-radius: 5px; margin-top: -5px;">
                                    Unfollow
                                </button>
                            </form>
                        {% else %}
                            <form action="{{ url_for('users.follow', username=user.username) }}" method="POST" class="d-inline">
                                <button type="submit" class="btn btn-primary btn-sm" style="width: 70px; height: auto; font-size: 12px; border-radius: 5px; margin-top: -5px;">
                                    Follow
                                </button>
                            </form>
                        {% endif %}
                    </div>
                    {% endif %}

                </div>

                <a href="{{ url_for('posts.user_detail', username=user.username) }}" style="text-decoration: none;">
                    <p style="margin-bottom: 25px;">
                        <strong>@{{ user.username }}</strong>
                    </p>
                </a>

                {% if user.bio %}
                    <small style="margin-bottom: 25px">{{ user.bio }}</small>
                    <br><br>
                {% else %}
                    <br><br>
                {% endif %}

                {% if user.location %}
                    <small>From: {{ user.location }}</small>
                    <br><br>
                {% else %}
                    <br><br>
                {% endif %}

                {% if user.birthday %}
                    <small>Born: {{ user.birthday.strftime('%B %-d, %Y') }}</small>
                    <br><br>
                {% else %}
                    <br><br>
                {% endif %}
                
                {% if user.joined_date %}
                {% endif %}

                <small>
                    {{ user.followers|length }} 
                    <a href="{{ url_for('users.followers', username=user.username) }}" style="text-decoration: none; color: inherit;">
                        Followers
                    </a>
                </small>

                <small>
                    {{ user.following|length }} 
                    <a href="{{ url_for('users.following', username=user.username) }}" style="text-decoration: none; color: inherit;">
                        Following
                    </a>
                </small>


                <br></br>
            </div>
        {% endblock %}
    </div>
</div>

{# Posts #}
<div class="row">
    <div class="col-md-12">
      <h2> Moments <small class="float-right">{{ user_posts|length }} events</small></h2>
      <ul class="media-list">
        {% for post in user_posts | reverse %}
            <li class="media post-item">
                <img class="feedpropic" src="data:image/png;base64,{{post.image}}" alt="pp">
            <div class="media-body">
                <span class="float-right">
                    <small>{{ post.date.strftime('%B %d, %Y at %-I:%M %p') }}</small>
                </span>
                
                <span style="font-weight: bold; ">{{ post.commenter.name }}</span>
                <a href="{{ url_for('posts.user_detail', username=post.commenter.username) }}">
                    <strong>@{{ post.commenter.username }}</strong>
                </a>    

                <p style="padding-top: 5px; ">
                    {{ post.content }}
                </p>

                <span>{{ post.likes|length }} Likes</span>

                {% if current_user.is_authenticated %}
                    <form action="{{ url_for('posts.user_detail', username=post.commenter.username) }}" method="POST" class="d-inline">
                        {{ like_post_form.csrf_token }}
                        {{ like_post_form.post_id(value=post.id) }}
                        <input type="submit" name="action" value="Like">
                    </form>
                {% endif %}

                {% if current_user.is_authenticated and post.commenter.username == current_user.username %}
                    <form action="{{ url_for('posts.user_detail', username=post.commenter.username) }}" method="POST" class="d-inline">
                        {{ delete_post_form.csrf_token }}
                        {{ delete_post_form.post_id(value=post.id) }}
                        <input type="submit" name="action" value="Delete">
                    </form>
                {% endif %}
                
            </div>
            </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}