{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        {% if error %}
        <div class="alert alert-warning" role="alert">
            <span>{{ error }}</span>
        </div>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col">
        {# User's Profile Picture #}
        <br><br>
        <img class="propic" src="data:image/png;base64,{{image}}" alt="image" width="150" height="150">
    </div>
</div>

{% block profile %}
    <div class="profile">
        <h3>{{ user.name }}</h3>
        <h5>@{{ user.username }}</h5>
        {% if user.bio %}
            <p>{{ user.bio }}</p>
        {% endif %}
        
        {% if user.location %}
            <p>{{ user.location }}</p>
        {% endif %}
    </div>
    <br><br>
{% endblock %}

{# Reviews #}
<div class="row">
    <div class="col-md-12">
      <h2> Timeline <small class="float-right">{{ user_posts|length }} posts</small></h2>
      <ul class="media-list">
        {% for review in user_posts %}
        <li class="media review-item">
          <img class="mr-3 comment-pic" src="data:image/png;base64,{{review.image}}" alt="pp">
          <div class="media-body">
            <span class="float-right">
              <small>{{ review.date }}</small>
            </span>
            <span style="font-weight: bold;">{{ review.commenter.name }}</span>
            <a href="{{ url_for('movies.user_detail', username=review.commenter.username) }}">
              <strong>@{{ review.commenter.username }}</strong>
            </a>
            <p>
              {{ review.content }}
            </p>

            <p>{{ review.likes|length }} Likes</p>

            <form method="POST" action="{{ url_for('movies.user_detail', username=review.commenter.username) }}">
                {{ like_post_form.hidden_tag() }}
                {{ like_post_form.review_id(value=review.id) }}
                {{ like_post_form.submit_like() }}
            </form>
            
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}