movie {
    max-width: 80;
    padding: 1; 
}

.card-body > img {
    max-width: 200;
}

.media-list {
    border-top: 1px dashed rgb(150, 150, 150);
    line-height: 1;
}

.Top {
    margin-top: 50px;
}

.profile {
    line-height: .70;
    margin-top: 15;
}

.media-body {
    padding-left: 10px;
    padding-top: 3px;
}

.profile h4 {
    margin-top: 0;
    margin-bottom: 5;
}

.profile p {
    margin-top: 0;
    margin-bottom: 10;
}

.post-item {
    padding-top: 15px;
    border-bottom: 1px dashed #a5a5a5;
    padding-bottom: 15px;
}

.nav-item {
    font-size: 14px;
}

.comment-pic {
    max-width: 75px;
}

.page-header {
    margin-top: 25px;
}

.profile-container {
    display: flex;
    align-items: center;
}

.profile-pic {
    padding-top: 50px;
    padding-bottom: 25px;
    flex: 0 0 auto; /* This ensures that the picture does not stretch */
    padding-right: 10px; /* Adjust as needed */
}

.profile-col {
    flex: 1; /* This allows the column to fill the remaining space */
}

.propic {
    width: 150px;
    height: 150px;
}

.feedpropic {
    width: 80px;
    height: 80px;
    flex: 0 0 auto;
}

/* Custom CSS for squared corners */
.form-control, .btn-outline-success {
    border-radius: 0;      /* Removes the rounded corners */
    font-size: 14px;       /* Set font size to 14px */
    height: 30px;          /* Keep the search bar thinner */
    padding: 0 10px;       /* Horizontal padding for better appearance */
}

/* Add padding to the top to create a larger gap */
.form-inline {
    padding-top: 5px;  /* Adjust this value to make the gap larger */
}

/* Optionally, you can add some more styling for uniformity */
.input-group {
    width: 100%; /* Make the search input take full width if needed */
}

.bio{
    width: 550%;
}